.news-list{
  &__wrapper{
    padding-block: 5rem 10rem;

    &>.heading__secondary{
      text-align: center;
    }

  }

  &__lists{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 5rem;
  }

  &__link{
    color: inherit;
    text-decoration: none;
  }

  &__list{
    max-width: calc(100% / 3 - 30px);
    background-color: var(--c-white);
    border-radius: 1.6rem;
    box-shadow: 0px 20px 50px 0px rgba(140, 128, 252, 0.05);
    transition: 0.3s ease-in-out;
    overflow: hidden;

    &-img{
      max-width: 100%;
      width: 100%;
      height: auto;
      transition: 0.5s ease-in-out;

      &-holder{
        width: 100%;
        overflow: hidden;
      }

    }

    &-detail{
      padding: 0 2.5rem 2.5rem;
      margin-top: 2rem;
    }

    &-heading{
      margin-bottom: 1rem;
      font-size: 1.8rem;
      transition: 0.3s ease-in-out;
    }

    &-description{
      margin-bottom: 0.5rem;
      font-size: 1.4rem;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 2;
    }

    &-published{
      text-align: right;
      margin-top: 2rem;
      font-weight: 600;
    }

    &:hover{

      box-shadow: 0px 20px 50px 0px rgba(140, 128, 252, 0.25);

      *>.news-list__list-heading {
        text-decoration: underline;
      }
      *>.news-list__list-img{
        transform: scale(1.15);
      }
    }
  }


  &__pagination{
    &-wrapper{
      width: fit-content;
      margin-inline: auto;
      margin-top: 10rem;
    }

    &-button{
      width: 35px;
      height: 35px;
      border-radius: 50%;
      border: none;
      background-color: #8c80fc;
      font-weight: 700;
      cursor: pointer;
      box-shadow: 0px 20px 50px 0px rgba(12, 11, 17, 0.1);

    }

    &-button:not(:last-of-type){
      margin-right: 0.5rem;
    }
  }

}

